<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}} | {{blox.app.name}}</title>
        <!-- Custom styles -->
        <link rel="stylesheet" href="{{ blox.page.path }}assets/css/{{ blox.page.name }}.css"/>
    </head>

    <body>
        {% include "layout/partials/blox.partial.header.quiz/header.njk" %}
        <main>
            {% block content %}{% endblock %}
        </main>
        <!-- Admin page doesn't have a footer -->
        {% if blox.page.name !== 'admin' %}
            {% include "layout/partials/blox.partial.footer.quiz/footer.njk" %}
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script src="{{blox.page.path}}assets/js/{{blox.page.name}}.js"></script>
    </body>

</html>