/************
Variables
*************/

/** Import Bootstrap Functions First */
@import "../../../../node_modules/bootstrap/scss/functions";

/** Define Colors */
$brand-primary: #e11c47;
$brand-secondary: #fdc812;
$brand-tertiary: #4b4b4b;
$white: #fff;
$black: #000;

/** Update Bootstrap Default Colors */
$theme-colors: (
  "primary": $brand-primary,
  "secondary": $brand-secondary,
  "success": $brand-secondary,
  "info": $brand-tertiary
);

/** Update/Add Spacing Values */
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 2,
    6: $spacer * 3,
    7: $spacer * 4,
    8: $spacer * 6,
    9: $spacer * 8,
    10: $spacer * 12
  ),
  $spacers
);

/** Override Bootstrap Variables */
$body-color: #777; //Body Font Color

/** Links */
$link-color: theme-color("primary");
$link-hover-color: darken($link-color, 15%);

/** Typography */
$enable-responsive-font-sizes: true;

$font-family-sans-serif: "Open Sans", sans-serif;

$line-height-base: 2;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 5;
$h2-font-size: $font-size-base * 4;
$h3-font-size: $font-size-base * 3;

$headings-font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
$headings-font-weight: 700;
$headings-color: $brand-tertiary;

$display1-weight: $headings-font-weight;

/** Buttons */
$btn-border-radius: 50px;
$btn-font-family: $headings-font-family;
$btn-font-weight: $headings-font-weight;

/** Navs */
$navbar-nav-link-padding-x: 1.75rem;
